* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #97bef8;
}

.navbar {
    display: flex;
    height: 60px;
    background-color: #fefdfa;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #97bef8;
    font-size: 1.1rem;
}

.error {
    position: relative;
    float: left;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    left: 10%;
    color: #ff3333;
}

.container {
    height: 300px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-sec {
    height: fit-content;
    margin-top: auto;
    border-radius: 10px;
    width: 400px;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fefdfa;
}

.box1 {
    width: 400px;
}

.para {
    font-size: 1.2rem;
    font-weight: 600;
    color: #646464;
}

#addTask {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

#addTask li {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 10px;
    list-style: none;
    height: fit-content;
    width: 80%;
    border-radius: 10px;
    background-color: #97bef8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px 10px;
    color: #fefdfa;
    font-size: 1.2rem;
}

#addTask button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #fefdfa;
    color: #97bef8;
    text-align: center;
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.box2 {
    padding-top: 10px;
}

#task {
    height: 40px;
    width: 290px;
    background-color: #ffffff;
    border: none;
    font-size: 1.2rem;
    color: #646464;
    outline: none !important;
}

#button {
    cursor: pointer;
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #97bef8;
    color: #fefdfa;
    font-size: 2.3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (max-width: 470px) {

    .hero-sec {
        width: 250px;
    }
    
    .box1 {
        width: 250px;
    }
    
    .para {
        font-size: 1.1rem;
    }
    
    
    #addTask li {
        width: 60%;
    }
    
    #task {
        width: 180px;
        font-size: 1.1rem;
    }
    
    #button {
        height: 45px;
        width: 45px;
        font-size: 2.1rem;
        padding-top: 0px;
    }

    .error{
        font-size: 0.95rem;
        left: 4%;
    }
}